In [54]:
import pandas as pd

import re

from nltk.corpus import stopwords

In [55]:
reviews_json_file  = 'dataset/goodreads_reviews_poetry.json'
reviews_json = pd.read_json(reviews_json_file, convert_dates = True, lines = True)

reviews_json.head()

,book_id,date_added,date_updated,n_comments,n_votes,rating,read_at,review_id,review_text,started_at,user_id
0,402128,Tue Jun 12 08:59:04 -0700 2012,Fri Jun 15 11:41:12 -0700 2012,0,0,5,,28423ff309bc896c071a8d9df4a10e8a,I have three younger siblings and we grew up w...,,3ca7375dba942a760e53b726c472a7dd
1,92270,Mon Apr 14 18:42:40 -0700 2014,Mon Apr 14 18:43:05 -0700 2014,0,0,5,Wed Jan 01 00:00:00 -0800 1997,2db1180992e2b0b1631a3ac5644bde84,This is my favorite collection of poetry.,,0ef32090550901ead25cb0ea21c4d36b
2,908708,Tue Apr 22 13:58:10 -0700 2008,Tue Apr 22 13:58:33 -0700 2008,0,0,4,,bca57fa40e92c9261b00b03dbebd96fe,"He's so disturbing. So very, very disturbing.",,0ef32090550901ead25cb0ea21c4d36b
3,253264,Wed Sep 27 19:08:08 -0700 2017,Sat Sep 30 06:39:45 -0700 2017,0,1,5,Wed Sep 27 00:00:00 -0700 2017,cb1ebc02d8b2aff15735d513877463ce,I just reread this play for a class I am takin...,Tue Sep 26 00:00:00 -0700 2017,d37b46b2190ed7c518259f29b47a9b36
4,70885,Thu Jun 18 20:00:03 -0700 2015,Thu Jun 18 20:01:29 -0700 2015,0,0,5,Thu Jun 18 00:00:00 -0700 2015,8dca128b8e869048a7442c18659dbece,"Cuanto mas leo, mas me gusta. Su poesia es env...",Tue Jun 16 00:00:00 -0700 2015,af157d0205b8a901dee6d4a2aed7e6ad

In [56]:
reviews = reviews_json['review_text']
reviews.head()

0    I have three younger siblings and we grew up w...
1            This is my favorite collection of poetry.
2        He's so disturbing. So very, very disturbing.
3    I just reread this play for a class I am takin...
4    Cuanto mas leo, mas me gusta. Su poesia es env...
Name: review_text, dtype: object

In [57]:
reviews = reviews.to_frame()
type(reviews)

pandas.core.frame.DataFrame

In [58]:
reviews['pos_neg'] = [1 if x>3 else 0 for x in reviews_json.rating] 
reviews.head()

                                         review_text  pos_neg
0  I have three younger siblings and we grew up w...        1
1          This is my favorite collection of poetry.        1
2      He's so disturbing. So very, very disturbing.        1
3  I just reread this play for a class I am takin...        1
4  Cuanto mas leo, mas me gusta. Su poesia es env...        1

In [59]:
reviews['review_text'][0]

'I have three younger siblings and we grew up watching the musical Cats. We knew all the songs and attempted to do the dance moves too. I remember we used to get trouble for jumping off the sofa too. When I found out that Cats was based off of poems, I really wanted to read them. I asked for the book for Christmas one year and I read them all that day. The poems are beautifully written and actually tell stories, whereas some poems are just descriptions. I have no idea how T.S, Eliot came up with so creative and brilliant with something as familiar as the family cat. Eliot is a great writer and I would recommend this book to anyone who is looking for a break from all the intense, sophisticated poems/books they are usually reading. This book is fun and is guaranteed to brighten your day!'

In [60]:
english_stop_words = stopwords.words('english')

def remove_stop_words(corpus):
    removed_stop_words = []
    for review in corpus:
        removed_stop_words.append(' '.join([word for word in review.split() if word not in english_stop_words]))
    return removed_stop_words
reviews['review_text'] = remove_stop_words(reviews['review_text'])

In [61]:
reviews['review_text'][0]

'I three younger siblings grew watching musical Cats. We knew songs attempted dance moves too. I remember used get trouble jumping sofa too. When I found Cats based poems, I really wanted read them. I asked book Christmas one year I read day. The poems beautifully written actually tell stories, whereas poems descriptions. I idea T.S, Eliot came creative brilliant something familiar family cat. Eliot great writer I would recommend book anyone looking break intense, sophisticated poems/books usually reading. This book fun guaranteed brighten day!'

In [62]:
from nltk.stem import WordNetLemmatizer
def get_lemmatized_text(corpus):
    lemmatized = []
    lemmatizer = WordNetLemmatizer()
    for review in corpus:
        lemmatized.append(' '.join([lemmatizer.lemmatize(word) for word in review.split()]))
    return lemmatized

reviews['review_text'] = get_lemmatized_text(reviews['review_text'])

In [63]:
reviews['review_text'][0]

'I three younger sibling grew watching musical Cats. We knew song attempted dance move too. I remember used get trouble jumping sofa too. When I found Cats based poems, I really wanted read them. I asked book Christmas one year I read day. The poem beautifully written actually tell stories, whereas poem descriptions. I idea T.S, Eliot came creative brilliant something familiar family cat. Eliot great writer I would recommend book anyone looking break intense, sophisticated poems/books usually reading. This book fun guaranteed brighten day!'

In [64]:
%store reviews

Stored 'reviews' (DataFrame)